
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #ececec;
}

/* Textbox Google Style */
.textbox-google-style {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 3em;
    padding: 0 15px;
}

.textbox-google-style span.material-symbols-outlined {
    color: #8f8e8e;
    font-size: 1.3em;
    z-index: 1;
}

.textbox-google-style input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 1em;
    padding-left: 10px;
    z-index: 1;
}

.textbox-google-style span.background-box {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #c0bebe;
    border-radius: 1.5em;
    background: #fff;
}

.textbox-google-style input:hover ~ span.background-box {
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

/* Textbox Teams Style */
.textbox-teams-style {
    --clr: rgb(125, 30, 160);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 2.5em;
    border: 1px solid #c0bebe;
    border-radius: 0.5em;
    background: #fff;
    overflow: hidden;
}

.textbox-teams-style input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 1em;
    padding-left: 15px;
}

.textbox-teams-style input:focus ~ span,
.textbox-teams-style input:hover ~ span {
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    bottom: 0;
    background-color: var(--clr);
}

/* Textbox Style 1 */
.textbox-style {
    --clr-1: #e2e2e2;
    --clr-2: #e8e7e7;
    --clr-font: #555;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 40px;
}

.textbox-style.style-1 input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 50px;
    z-index: 1;
    bottom: 0;
    transition: 0.5s;
    color: var(--clr-font);
}

.textbox-style.style-1 input::placeholder {
    color: var(--clr-font);
}

.textbox-style.style-1 span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: var(--clr-1);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 0;
    bottom: 0;
    transition: 0.5s;
}

.textbox-style.style-1 input:focus ~ span {
    background: var(--clr-2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
                -5px -5px 10px rgba(245, 245, 245, 0.2);
    animation: movesUp 0.5s forwards;
    transition: 0.5s;
}

.textbox-style.style-1 input:focus {
    animation: movesUp 0.5s forwards;
    transition: 0.5s;
}

.textbox-style.style-1 input:not(:focus) ~ span {
    animation: movesDown 0.5s forwards;
}

.textbox-style.style-1 input:not(:focus) {
    animation: movesDown 0.5s forwards;
}

@keyframes movesUp {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: 10px;
    }
}

@keyframes movesDown {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: 0px;
    }
}
