
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #ececec;
}

/* Textbox Google Style */
.textbox-google-style {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 3em;
    padding: 0 15px;
}

.textbox-google-style span.material-symbols-outlined {
    color: #8f8e8e;
    font-size: 1.3em;
    z-index: 1;
}

.textbox-google-style input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 1em;
    padding-left: 10px;
    z-index: 1;
}

.textbox-google-style span.background-box {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #c0bebe;
    border-radius: 1.5em;
    background: #fff;
}

.textbox-google-style input:hover ~ span.background-box {
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

/* Textbox Teams Style */
.textbox-teams-style {
    --clr: rgb(125, 30, 160);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 2.5em;
    border: 1px solid #c0bebe;
    border-radius: 0.5em;
    background: #fff;
    overflow: hidden;
}

.textbox-teams-style input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 1em;
    padding-left: 15px;
}

.textbox-teams-style input:focus ~ span,
.textbox-teams-style input:hover ~ span {
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    bottom: 0;
    background-color: var(--clr);
}

/* Progress Bar */
.progress-bar {
    position: relative;
    display: flex;
    align-items: center;
    background: #111;
    width: 800px;
    height: 3em;
    border-radius: 1.5em;
}

.progress-bar::before {
    position: absolute;
    content: attr(data-label);
    left: 0.5em;
    bottom: 0.5em;
    top: 0.5em;
    padding-left: 1em;
    padding-top: 0.2em;
    color: white;
    width: calc(100% - 2em);
    min-width: 2em;
    background: rgb(18, 134, 201);
    border-radius: 1em;
    font-size: 1.2em;
}

