
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --dark-grey-color: #1D2C33;
    --grey-color: #5E7177;
    --grey-blue-color: #ADB7B8;
    --grey-light-color: #C5C8C1;

    --font-normal: 1.2em;
    --font-small: 0.9em;
    --font-icons: 1.5em;
}

body {
    display: flex;
    flex-direction: column;
    overflow: auto;
}