
@media (max-width: 1920px) {

    #loan-section {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 200px 1fr;
        grid-template-areas: 
        "info-cont inputs"
        "info-cont inputs";
    }
    
    #loan-section .loan-information {
        grid-area: info-cont;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        background: var(--dark-grey-color);
        padding: 0px 50px;
    }
    
    #loan-section .loan-information div {
        display: flex;
        align-items: center;
        gap: 15px;
        color: white;
    }
    
    #loan-section .loan-information div span {
        font-size: 5em;
        font-weight: bold;
    }
    
    #loan-section .loan-information div p {
        font-size: 1.5em;
        text-align: center;
    }
    
    #loan-section .input {
        grid-area: inputs;
        display: grid;
        grid-template-rows: 100px 1fr;
        grid-template-areas: 
        "title"
        "inputs";
        width: 100%;
        height: 100%;
        background: var(--grey-light-color);
    }

    #loan-section .input .title {
        grid-area: title;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #loan-section .input .title h1 {
        font-size: 3em;
        font-family: "Baskervville SC", serif;
        font-weight: bolder;
    }

    #loan-section .input .inputs-entry {
        grid-area: inputs;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding-top: 50px;
    }

    #loan-section .input .inputs-entry>div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        gap: 20px;
        padding-left: 13px;
    }

    #loan-section .input .inputs-entry>div input {
        width: 250px;
        height: 30px;
        border: none;
        background: var(--grey-blue-color);
        border-radius: 15px;
        outline: none;
        text-align: center;
        font-size: 1em;
        font-weight: 600;
        color: var(--dark-grey-color);
    }

    #loan-section .input .inputs-entry>div div {
        position: relative;
        display: flex;
    }

    #loan-section .input .inputs-entry>div div>span {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%,-50%);
        font-size: 1em;
        font-weight: 600;
        color: var(--dark-grey-color);
        transition: 0.5s;
        pointer-events: none;
    }

    #loan-section .inputs-entry>div>span {
        font-size: 2em;
        font-weight: 600;
        pointer-events: none;
    }

    #loan-section .inputs-entry>div input.active ~ span,
    #loan-section .inputs-entry>div input[type='text']:hover ~ span {
        font-size: 0.8em;
        top: -5px;
        background: var(--grey-blue-color);
        padding: 0 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        transition: 0.5s;
    }

    #loan-section .inputs-entry>div input[type='checkbox'] {
        display: none;
    }

    #loan-section .inputs-entry>div:last-child {
        justify-content: flex-start;
        padding-left: 0px;
        gap: 85px;
    }

    #loan-section .inputs-entry>div:last-child>span {
        font-size: 2em;
        text-align: center;
    }

    #loan-section .inputs-entry>div:last-child>span .text {
        font-size: 0.3em;
    }

    #loan-section .inputs-entry>div:last-child label {
        position: relative;
    }

    #loan-section .inputs-entry>div:last-child label span {
        position: absolute;
        background: white;
        width: 60px;
        height: 32px;
        border-radius: 30px;
        border: 2px solid var(--dark-grey-color);
        box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
        cursor: pointer;
        transition: 0.5s;
    }

    #loan-section .inputs-entry>div:last-child label b {
        position: absolute;
        background: white;
        content: '';
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid var(--dark-grey-color);
        z-index: 1;
        cursor: pointer;
        transition: 0.5s;
    }

    #loan-section .inputs-entry>div:last-child input:checked ~ b {
        transform: translateX(30px);
        transition: 0.5s;
    }

    #loan-section .inputs-entry>div:last-child input:checked ~ span {
        background: rgb(138, 213, 138);
        transition: 0.5s;
    }

}
