
@media (max-width: 1920px) {

    #loan-section {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 200px 1fr;
        grid-template-areas: 
        "info-cont inputs"
        "info-cont inputs";
    }
    
    #loan-section .loan-information {
        grid-area: info-cont;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        background: var(--dark-grey-color);
        padding: 50px 50px;
    }
    
    #loan-section .loan-information div {
        display: flex;
        align-items: center;
        gap: 15px;
        color: white;
    }
    
    #loan-section .loan-information div span {
        font-size: 5em;
        font-weight: bold;
    }
    
    #loan-section .loan-information div p {
        font-size: 1.5em;
        text-align: center;
    }
    
    #loan-section .input {
        grid-area: inputs;
        display: grid;
        grid-template-rows: 200px 1fr;
        grid-template-areas: 
        "title"
        "inputs";
        width: 100%;
        height: 100%;
        background: var(--grey-light-color);
    }

    #loan-section .input .title {
        grid-area: title;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #loan-section .input .title h1 {
        font-size: 3em;
        font-family: "Baskervville SC", serif;
        font-weight: bolder;
    }

    #loan-section .input .inputs-entry {
        grid-area: inputs;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        padding-top: 50px;
    }

    #loan-section .input .inputs-entry>div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        gap: 2em;
    }

    #loan-section .input .inputs-entry>div>div input {
        font-size: 1em;
    }

    #loan-section .input .inputs-entry>div>div span {
        font-size: 1em;
    }
    
    #loan-section .input .inputs-entry>div:last-child {
        justify-content: left;
        gap: 5em;
    }
    
    #loan-section .input .inputs-entry>div span:first-child {
        font-size: 2em;
        font-weight: 600;
        text-align: center;
    }
    
    #loan-section .input .inputs-entry>div span.text {
        font-size: 0.5em;
        font-weight: 600;
        text-align: center;
    }

}
